@media(max-width:1200px){
  .about__title{
    margin: 30px;
  }
  .people__down{
    flex-direction: column;
  }
  .people__down__title{
    text-align: center;
  }
}
@media(max-width:991px){
  .header__nav__right{
    display: flex;
    flex-direction: column;
  }
  .header__nav__btn{
    margin-bottom: 15px;
    margin-right: 0;
  }
  .header__nav__left{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__nav__link{
    text-align: center;
  }
  .intro__title{
    margin-top: 0;
  }
  .about__items{
    flex-direction: column;
  }
  .about__item{
    justify-content: center;
    align-items: center;
  }
  .about__item:nth-of-type(1){
    margin-top: 20px;
  }
  .about__item:nth-of-type(2){
    margin-top: 20px;
  }
  .about__item:nth-of-type(3){
    margin-top: 20px;
  }
  .footer__icon__div{
    flex-direction: column;
  }
}
@media(max-width:820px){
  .intro__btns{
    flex-direction: column;
    align-items: start;
  }
  .doc__item{
    flex-direction: column;
    margin-bottom: 70px;
  }
  .footer__icons{
    flex-direction: column;
    padding-top: 15px;
  }
  .footer__icon__div{
    padding: 0 0 20px 0;
  }
  .doc__absolute3{
    top: 350px;
    right: 300px;
  }
  .doc__absolute4{
    top: 740px;
    right: 50px;
  }
}
@media(max-width:768px){
  .intro__right{
    display: none;
  }
  .intro__btns{
    flex-direction: row;
    align-items: center;
  }
  .people__absolute2{
    top: 250px;
    left: 150px;
  }
}
@media(max-width:556px){
  .intro__title{
    font-size: 30px;
    line-height: 40px;
  }
  .title{
    font-size: 30px;
    line-height: 40px;
  }
  .intro__p{
    font-size: 16px;
  }
  .rectangle{
    display: none;
  }
}
@media(max-width:410px){
  .intro__btns{
    flex-direction: column;
    align-items: start;
  }
}